#site-navigation {
  display: none;
}

.site-header {
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  .custom-logo-link {
    //width: 8.5rem;
    //height: auto;
    width: auto;
    height: $space4;
    //padding: $space-2 0;
    display: flex;
    align-items: center;
    img {
      width: auto;
      height: $space-2;
      display: block;
    }
  }
  .hamburger {
    appearance: none;
    pointer-events: none;
  }
}

.video-container {
  position: relative;
  video {
    display: block;
    &:focus {
      outline: none;
    }
  }
  .play-button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
    transition: opacity .4s linear;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
    .play-button {
      width: $space2;
      height: $space2;
      border: 4px solid white;
      border-radius: 50%;
      transition: all .2s linear;
      transform: scale(1) rotate(.001deg);
      cursor: pointer;
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 0 12px 17px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -50%);
      }
    }
    &:hover {
      .play-button {
        transform: scale(1.25) rotate(.001deg);
      }
    }
  }
}

// Home

.home {
  .site-main {
    .home-content {
      margin-top: $space3;
      margin-bottom: $space1;
      @include for-size(md-down) {
        padding: $space-4 $space-1;
        margin-bottom: 0;
      }
    }
    .home-hero-content {
      margin-bottom: $space2;
      max-width: 85%;
      @include for-size(md-down) {
        padding: 0 $space1;
      }
      @include for-size(md) {
        margin-bottom: 0;
        max-width: none;
      }
    }
    h1 {
      font-size: $font3;
      font-weight: 400;
      margin-top: 0;
      span {
        position: relative;
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: -1rem;
          left: 0;
          background: $bixy-grey-dark;
          opacity: .5;
        }
      }
    }
  }
  .download-row {
    span {
      color: $bixy-grey;
      font-size: $font1;
      font-weight: normal;
    }
    .col-4 {
      @include for-size(md-down) {
        justify-content: center;
        span {
          margin-bottom: $space2;
        }
      }
    }
    .col-8 {
      @include for-size(md-down) {
        flex-direction: column;
        .app-download-link {
          margin-bottom: $space-4;
        }
      }
    }
  }
}

.app-download-link {
  height: $space-1;
  width: auto;
  margin: 0 $space-6;
  img {
    width: 100%;
    height: auto;
  }
}

// Footer

.site-footer {
  @include for-size(md-down) {
    padding-top: $space2;
    padding-bottom: $space2;
  }
}
#footer-menus {
  margin-bottom: $space3;
  .row {
    display: block;
    .col-3 {
      display: inline-block;
      margin-right: $space8;
      width: auto;
      vertical-align: top;
    }
    @include for-size(md-down) {
      margin-bottom: 0;
      .col-3 {
        width: 49%;
        margin-bottom: $space3;
        margin-right: 0;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      a {
        color: $bixy-grey-dark;
        line-height: 2;
        pointer-events: none;
        font-size: $font1;
      }
    }
  }
}
#footer-social-links {
  a.social-link {
    margin-right: $space1;
    i {
      color: #656464;
      opacity: .8;
      transition: all .2s linear;
      font-size: 1.4em;
      &:hover {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }
}
